<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1>リプライ一覧</h1>
      <p>取得したリプライは<%= @result['data'].length %>つです（最大5つ）</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 10%">#</th>
            <th scope="col" style="width: 20%">リプライ主</th>
            <th scope="col" style="width: 40%">リプライの内容</th>
            <th scope="col" style="width: 20%"></th>
          </tr>
        </thead>
        <tbody>
          <% @result['data'].length.times do |i| %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= @result['includes']['users'][i]['name'] %></td>
              <td><%= @result['data'][i]['text'] %></td>
              <td>
                <%= link_to 'リプ返を自動生成', "/yahoo/show/?userid=#{@userid}&authorname=#{@result['includes']['users'][i]['username']}&text=#{@result['data'][i]['text']}", class: 'btn btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>