<!DOCTYPE html>
<html>
  <head>
    <title>リプ返つらい｜Twitterリプライ自動作成サービス</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container mt-4 mb-4">
      <%= link_to root_path do %>
        <%= image_tag 'replytsurai-logo.png' , class: 'd-block mx-auto'%>
      <% end %>
    </header>
    <%= yield %>
    <footer class="container mt-4 mb-4">
      <div class ='text-center justify-content-center'>
        <p>Copyright 2022 Minako Yoshino(<%= link_to '@yoiyoicho', 'https://twitter.com/yoiyoicho' %>)</p>
        <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
        <span style="margin:15px 15px 15px 15px"><a href="https://developer.yahoo.co.jp/sitemap/">Web Services by Yahoo! JAPAN</a></span>
        <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
      </div>
    </footer>
  </body>
</html>
